@font-face {
  font-family: 'Milo';
  src: url('/assets/webfonts/milo-regular-webfont.eot');
  src: url('/assets/webfonts/milo-regular-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/milo-regular-webfont.woff') format('woff'),
    url('/assets/webfonts/milo-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Milo';
  src: url('/assets/webfonts/milo-italic-webfont.eot');
  src: url('/assets/webfonts/milo-italic-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/milo-italic-webfont.woff') format('woff'),
    url('/assets/webfonts/milo-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Milo';
  src: url('/assets/webfonts/milo-bold-webfont.eot');
  src: url('/assets/webfonts/milo-bold-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/milo-bold-webfont.woff') format('woff'),
    url('/assets/webfonts/milo-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Milo';
  src: url('/assets/webfonts/milo-bolditalic-webfont.eot');
  src: url('/assets/webfonts/milo-bolditalic-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/milo-bolditalic-webfont.woff') format('woff'),
    url('/assets/webfonts/milo-bolditalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Milo';
  src: url('/assets/webfonts/milo-exlig-webfont.eot');
  src: url('/assets/webfonts/milo-exlig-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/milo-exlig-webfont.woff') format('woff'),
    url('/assets/webfonts/milo-exlig-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('/assets/webfonts/crimson-roman-webfont.eot');
  src: url('/assets/webfonts/crimson-roman-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/crimson-roman-webfont.woff') format('woff'),
    url('/assets/webfonts/crimson-roman-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('/assets/webfonts/crimson-italic-webfont.eot');
  src: url('/assets/webfonts/crimson-italic-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/crimson-italic-webfont.woff') format('woff'),
    url('/assets/webfonts/crimson-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: url('/assets/webfonts/crimson-semibold-webfont.eot');
  src: url('/assets/webfonts/crimson-semibold-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/crimson-semibold-webfont.woff') format('woff'),
    url('/assets/webfonts/crimson-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('/assets/webfonts/crimson-semibolditalic-webfont.eot');
  src: url('/assets/webfonts/crimson-semibolditalic-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/crimson-semibolditalic-webfont.woff') format('woff'),
    url('/assets/webfonts/crimson-semibolditalic-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: url('/assets/webfonts/crimson-bold-webfont.eot');
  src: url('/assets/webfonts/crimson-bold-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/crimson-bold-webfont.woff') format('woff'),
    url('/assets/webfonts/crimson-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('/assets/webfonts/crimson-bolditalic-webfont.eot');
  src: url('/assets/webfonts/crimson-bolditalic-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/crimson-bolditalic-webfont.woff') format('woff'),
    url('/assets/webfonts/crimson-bolditalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'League Gothic';
  src: url('/assets/webfonts/leaguegothic-regular-webfont.eot');
  src: url('/assets/webfonts/leaguegothic-regular-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/leaguegothic-regular-webfont.woff') format('woff'),
    url('/assets/webfonts/leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'League Gothic';
  src: url('/assets/webfonts/leaguegothic-regular-webfont.eot');
  src: url('/assets/webfonts/leaguegothic-regular-webfont-.eot#iefix') format('embedded-opentype'),
    url('/assets/webfonts/leaguegothic-regular-webfont.woff') format('woff'),
    url('/assets/webfonts/leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}